.content_banner {
    position: relative;
    width: 1240px;
    align-self: center;
}

.img_ban{
    background-blend-mode: color;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.banner_text {
    margin: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(185, 208, 237);
    font-weight: 500;
    font-size: 1.5rem;
}
