
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    
}

#root {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.corp {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

header {
    width: 1240px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
    height: auto;
    
}

.logo_banner {
    height: 45px;
    
}

ul {
    width: 10rem;
    display: flex;
    justify-content: space-between;
}

li {
    color : #ff6060;
    list-style: none;   
}


.style_link {
    color: #ff6060;
    text-decoration: none; 
}
