
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {

    margin: 25px;
}
header {
    display: flex;
    justify-content: space-between;
    border: 1px solid silver;
    width: 80%;
    height: 68px;
    left: 100px;
    top: 40px;
}

nav {
  
    left: 75.08%;
    right: 0%;
    bottom: 25%;
}

ul {
    width: 10rem;
    display: flex;
    justify-content: space-between;
}

li {
    font-family: 'Montserrat', sans-serif;
    color : #ff6060;
    list-style: none; 
     
}

.style_link {
    color: #ff6060;
    text-decoration: none; 
}