.about_content {
  margin-top: 31px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_card {
  background-color: #ff6060;
  width: 1023px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.about_action_bar {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about_tittle_card {
  display: flex;
  align-items: center;
  margin: 0;
  height: 47px;
  font-size: 24px;
  font-weight: 500;
  padding-left: 18px;
  color: #fff;
}

button {
  background-color: transparent;
  height: 33px;
  border: none;
}

.about_button {
  transform: rotate(180deg);
}

.about_button {
  height: 13.71px;
  width: 24px;
}

.rotate {
  transform: translateY(180);
}

.slide_box {
  overflow: hidden;
}

.card_paragraph {
  display: none;
  margin: 0;
  padding: 36px 18px 19px;
  background-color: #f7f7f7;
  color: #ff6060;
  font-size: 24px;
  font-weight: 400;
}
