.about_content {
  margin: 0 auto;
  padding: 0 100px;
}

@media screen and (max-width: 1000px) {
  .about_content {
    margin-top: 20px;
    padding: 0;
  }
}

@media screen and (max-width: 375px) {
  .about_content_mobil_style .open p {
    font-size: 12px;
  }
}
