.card_logement {
  position: relative;
  border-radius: 10px;
  margin: 0;
  max-width: 340px;
  max-height: 340px;
  display: flex;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.image_card {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  background-color: #ff6060;
  opacity: 70%;
}

.location_title {
  position: absolute;
  top: 268px;
  left: 20px;
  height: 52px;
  font-size: 18px;
  font-weight: 500;
  color: #f7f7f7;
}
