.card-content {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
}
.header-card {
  display: flex;
  background-color: #ff6060;
  justify-content: space-between;
  padding: 0px 29px 0px 18px;
  border-radius: 5px;
  cursor: pointer;
  max-height: 47px;
  align-items: center;
}

.card-title {
  color: #f7f7f7;
  font-size: 24px;
  margin: 0;
}

.card-paragraph {
  display: none;
  background-color: #f7f7f7;
  border-radius: 5px;
  text-align: justify;
  padding: 0 10px 0 10px;
  font-size: 24px;
  font-weight: 400;
  color: #ff6060;
}

.open {
  display: block;
}

button {
  border: none;
  background-color: transparent;
  transform: rotate(180deg);
}

.rotate {
  transform: rotate(180deg);
}

.small .header-card {
  height: 52px;
  align-items: center;
}

.small .card-title {
  font-size: 18px;
}

.small .card-paragraph p {
  font-size: 18px;
}

@media screen and (max-width: 375px) {
  .header-card {
    max-height: 30px;
  }

  .card-content {
    margin-top: 0;
  }

  .small .card-title {
    font-size: 12px;
  }

  .small .card-paragraph p {
    font-size: 12px;
  }

  .card-paragraph {
    font-size: 12px;
  }
}
