header {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px 63px 100px;
}

.logo_banner {
  height: 68px;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 57px;
}

li {
  color: #ff6060;
  list-style: none;
  font-size: 24px;
  font-weight: 500;
}

.style_link {
  color: #ff6060;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

@media screen and (max-width: 375px) {
  #root {
    display: flex;
    flex-direction: column;
  }
  header {
    max-width: 100%;
  }
}
