.content_logement {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.content_img {
  max-width: 1240px;
}

.content_data {
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: start;
  padding: 0px;
}

.content {
  width: 550px;
}

.logement-location-rating {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.logement-slide-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logement_selection {
  align-items: flex-start;
  gap: 10px;
  justify-content: flex-start;
  padding: 0;
}

.content_loca-description {
  width: auto;
}

.logement-content-cardslide {
  display: flex;
  justify-content: space-between;
  gap: 96px;
}

.tag-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contentTag {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.logement-header-title {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.logement-header-location {
  color: #ff6060;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .logement-header-title {
    font-size: 20px;
  }

  .logement-content-cardslide {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 800px) {
  .logement-location-rating {
    margin-bottom: 16px;
  }

  .logement-location {
    grid-column-start: span 2;
  }

  .logement-header-title {
    white-space: inherit;
    font-size: 20px;
    line-height: 23px;
  }

  .logement-header-location {
    font-size: 16px;
  }

  .contentTag {
    margin: 10px 0 17px;
    grid-column-start: span 2;
    grid-row-start: 2;
  }

  .thumbnail {
    grid-column-start: 2;
  }

  .star-content {
    grid-row-start: 3;
  }

  .logement-content-cardslide {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 375px) {
  .logement-header-title {
    font-size: 18px;
  }

  .logement-header-location {
    font-size: 14px;
  }
}
