.content_logement {
  display: grid;
  grid-template-columns: 1, 1fr;
}

.content_data {
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: start;
  padding: 0px;
}

.content {
  width: 550px;
}

.logement-slide-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logement_selection {
  align-items: flex-start;
  gap: 10px;
  justify-content: flex-start;
  padding: 0;
}

.content_loca-description {
  width: auto;
}

.logement-content-cardslide {
  display: flex;
  justify-content: space-between;
  gap: 96px;
}

.content_location {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tag-rating {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.contentTag {
  display: flex;
  gap: 10px;
}

.slider {
  width: 100%;
}

.content_location h1 {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
}

.content_location p {
  color: #ff6060;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 375px) {
  .content_location {
    display: flex;
    flex-direction: column;
  }

  .tag-rating {
    flex-direction: column;
  }

  .logement-content-cardslide {
    display: flex;
    flex-direction: column;
    gap: 0;
    max-width: 335px;
  }
}
