.content_logement {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.content_img {
  max-width: 1240px;
}

.content_data {
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: start;
  padding: 0px;
}

.thumbnail-mobil {
  display: none;
}

.content {
  width: 550px;
}

.logement-slide-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logement_selection {
  align-items: flex-start;
  gap: 10px;
  justify-content: flex-start;
  padding: 0;
}

.content_loca-description {
  width: auto;
}

.logement-content-cardslide {
  display: flex;
  justify-content: space-between;
  gap: 96px;
}

.content_location {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tag-rating {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.contentTag {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.slider {
  width: 100%;
}
.logement-header-title {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.logement-header-location {
  color: #ff6060;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .thumbnail-fullscreen {
    display: none;
  }

  .thumbnail-mobil {
    display: block;
  }

  .tag-rating {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .contentTag {
    grid-column-start: span 2;
    justify-content: start;
    gap: 10px;
  }
}

@media screen and (max-width: 375px) {
  .thumbnail-fullscreen {
    display: none;
  }

  .content_location {
    display: flex;
    flex-direction: column;
  }

  .logement-header-title {
    font-size: 18px;
    margin-bottom: 6px;
    line-height: 1.5;
  }

  .logement-header-location {
    font-size: 14px;
  }

  .tag-rating {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .contentTag {
    grid-column-start: span 2;
    margin-bottom: 17px;
  }

  .logement-content-cardslide {
    display: flex;
    flex-direction: column;
    gap: 0;
    max-width: 335px;
    margin-top: 16px;
  }

  .small .card-paragraph {
    padding-top: 17px;
  }

  .open {
    padding-top: 20px;
  }

  .logement-equipments .open p {
    padding: 0;
  }
}
