.thumbnailContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.thumbnailParagraph {
  text-align: right;
  color: #ff6060;
}

.thumbnailImg {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}
