.thumbnail_content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.thumbnail_paragraph {
  text-align: right;
  color: #ff6060;
}

.thumbnail_img {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

@media screen and (max-width: 800px) {
  .thumbnail_content {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 375px) {
  .thumbnail_paragraph {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
  }

  .thumbnail_img {
    height: 32px;
    width: 32px;
  }

  .thumbnail_content {
    justify-content: flex-end;
  }
}
