.rating_content {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  align-items: center;
}

.rating_content img {
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 375px) {
  .rating_content {
    grid-row-start: 3;
  }
}

@media screen and (max-width: 375px) {
  .rating_content {
    gap: 6px;
    justify-content: flex-start;
  }

  .rating_content img {
    height: 13px;
    width: 13px;
  }
}
