.contentSlideshow {
  position: relative;
}

.slideshowPicture {
  display: block;
  width: 100%;
  max-height: 415px;
  object-fit: cover;
  border-radius: 25px;
}

.chevron-content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 100%;
}

.chevron {
  display: flex;
  align-items: center;
}

.chevronleft {
  padding-left: 20px;
}

.chevronright {
  padding-right: 20px;
}

@media screen and (max-width: 375px) {
  .slideshowPicture {
    max-width: 335px;
    height: 255px;
  }

  .chevronleft,
  .chevronright {
    height: 20px;
    padding: 0 6px 0 6px;
  }
}
