.tag {
  display: flex;
  background-color: #ff6060;
  color: #fff;
  border-radius: 10px;

  min-width: 115px;
  height: 25px;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 0px 10px 0;
}

@media screen and (max-width: 375px) {
  .tag {
    min-width: 84px;
    font-size: 10px;
    border-radius: 5px;
    height: 18px;
    padding: 0 5px;
    margin: 0;
  }
}
